h1,h2,p{
	text-align:center;
	/*Is this a comment?*/
	color:green;
}
#para1{
	text-align:center;
	color:blue;
}
.center{
	text-align:center;
	color:red;
}
body{
	background-color:lightblue;
}
h1{
	color:navy;
	margin-left:20px;
}