.header{
	border:1px solid black;
	border-collapse:collapse;
	margin:3px;
	padding:5px;
	color:#20232D;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

table{
	margin:5px;
	padding:5px;
}

h1{
	margin:0px 0px -10px 0px;	
}

body{
	background: rgb(122,204,190);
	background: linear-gradient(0deg, rgba(122,204,190,1) 0%, rgba(164,197,255,1) 100%);
	background-repeat:no repeat;
	background-attachment:fixed;
	background-size:100% 100%;
}

.full{
	max-width:900px;
	word-wrap:break-word;
}

div.images{
	max-width:670px;
	position:relative;
	padding:50px 0px 0px 0px
}

.parag{
	text-align:justify;
	text-justify:inter-word;
	text-indent:50px;
	padding-right:15px;
}

div.scroll-container {
	background: #333;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
	scrollbar-color:white #333;
}

div.scroll-container img {
	padding: 10px;
}